In [2]:
import pandas as pd
df = pd.read_csv('Datasets\mobile_dataset.csv')
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

### Check Duplicate Columns

In [12]:
def check_dup_col(df):
    duplicate_columns = set()
    for x in range(df.shape[1]):
        col = df.iloc[:, x]
        for y in range(x + 1, df.shape[1]):
            other_col = df.iloc[:, y]
            if col.equals(other_col):
                duplicate_columns.add(df.columns.values[y])
    
    # Print the duplicate columns
    if duplicate_columns:
        print("Duplicate columns found:")
        print(duplicate_columns)
    else:
        print("No duplicate columns found.")

In [13]:
check_dup_col(df)

No duplicate columns found.

### Checking Duplicate Rows

In [15]:
df[df.duplicated()]
#No duplicate rows in our dataset

Empty DataFrame
Columns: [battery_power, blue, clock_speed, dual_sim, fc, four_g, int_memory, m_dep, mobile_wt, n_cores, pc, px_height, px_width, ram, sc_h, sc_w, talk_time, three_g, touch_screen, wifi, price_range]
Index: []

[0 rows x 21 columns]

### Univariate Selection


Univariate Selection, also known as Univariate Feature Selection, is a technique used in machine learning and feature selection to identify the most significant features or variables that contribute the most to the target variable. It involves evaluating each feature independently based on certain statistical measures and selecting the features with the highest scores.

The basic idea behind Univariate Selection is to assess the relationship between each feature and the target variable individually, without considering the interactions or dependencies among features. It assumes that each feature is independent of the others and evaluates its predictive power solely based on its relationship with the target variable.

In [19]:
X = df.iloc[:, :-1]
y = df[['price_range']]

In [20]:
X.head(2)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0

In [21]:
y.head(2)

   price_range
0            1
1            2

In [22]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [24]:
df.shape

(2000, 21)

In [27]:
### Apply SelectKBest Algorithm
ordered_rank_features= SelectKBest (score_func = chi2, k = 20)
ordered_feature = ordered_rank_features.fit(X,y)

In [29]:
ordered_feature.scores_

array([1.41298666e+04, 7.23232323e-01, 6.48365906e-01, 6.31010795e-01,
       1.01351665e+01, 1.52157239e+00, 8.98391244e+01, 7.45819631e-01,
       9.59728626e+01, 9.09755558e+00, 9.18605355e+00, 1.73635695e+04,
       9.81058675e+03, 9.31267519e+05, 9.61487832e+00, 1.64803191e+01,
       1.32364000e+01, 3.27642810e-01, 1.92842942e+00, 4.22090730e-01])

In [35]:
dfscores = pd.DataFrame(ordered_feature.scores_, columns = ["Score"])
dfcolumns = pd.DataFrame(X.columns)

In [38]:
features_rank = pd.concat([dfcolumns, dfscores], axis= 1)
features_rank.columns = ['Features', 'Score']
features_rank

         Features          Score
0   battery_power   14129.866576
1            blue       0.723232
2     clock_speed       0.648366
3        dual_sim       0.631011
4              fc      10.135166
5          four_g       1.521572
6      int_memory      89.839124
7           m_dep       0.745820
8       mobile_wt      95.972863
9         n_cores       9.097556
10             pc       9.186054
11      px_height   17363.569536
12       px_width    9810.586750
13            ram  931267.519053
14           sc_h       9.614878
15           sc_w      16.480319
16      talk_time      13.236400
17        three_g       0.327643
18   touch_screen       1.928429
19           wifi       0.422091

In [40]:
features_rank.nlargest(10, 'Score')

         Features          Score
13            ram  931267.519053
11      px_height   17363.569536
0   battery_power   14129.866576
12       px_width    9810.586750
8       mobile_wt      95.972863
6      int_memory      89.839124
15           sc_w      16.480319
16      talk_time      13.236400
4              fc      10.135166
14           sc_h       9.614878

### Observation

So, these are the top 10 important features of the dataset in terms of the dependancy of the target feature on train features.